@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html{
  font-weight: 400;
  font-style: normal;
}

hr {
    align-items: center;
    width: 30vw;
    margin-bottom:  3vh;
}

h1{
    font-family: "Alfa Slab One", serif;
    margin: 0;
    letter-spacing: 0.4vw;
    font-size: 8vh; 
}
.cella {
    height: 7vh;
    width: 7vh;
    text-align: center;
    font-size: 3vh;
    border-radius: 10%;
    border: 0;
    margin: 0.3vh;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

body{
    background-color: rgb(243, 245, 244);
    text-align: center; 
}

.cella.classeGialla {
    background-color: rgb(243, 243, 146);
}

.cella.classeVerde {
    background-color: rgb(144, 218, 144);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2vh 0;
    background-color: rgb(243, 245, 244);
    padding-bottom: 5vh;
}

#tastiera {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
}

.riga-tastiera {
    display: flex;
    gap: 0.5vh;
}

.tasto {
    height: 8vh;
    width: 6vh;
    border: none;
    border-radius: 10%;
    background-color: rgb(243, 241, 241);
    border: 0.1px solid rgb(181, 181, 181);
    font-size: 2vh;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.tasto:hover {
    background-color: #ddd9d9;
}

.tasto.verde {
    background-color: rgb(144, 218, 144);
    color: white;
}

.tasto.giallo {
    background-color: rgb(243, 243, 146);
}

.tasto.grigio {
    background-color: #afb3b8;
    color: white;
}
/* ------------------------------------------------------------------- */
/* MODIFICHE */
.topbar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar h1{
    font-family: "Alfa Slab One", serif;
    margin: 0;
    letter-spacing: 0.4vw;
    font-size: 8vh;
}

#logout {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(144, 218, 144);
    font-weight: bold;
    font-size: 2vh;
    transition: transform 0.2s, background-color 0.2s;
    color: white;
}

#logout:hover {
    background-color: rgb(118, 197, 118);
    transform: scale(1.05);
}

#tentativi {
    color: rgb(80, 80, 80);
    font-weight: bold;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: rgb(193, 231, 193);
}