@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html{
    font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

hr {
    align-items: center;
    width: 30vw;
    margin-bottom:  3vh;
}

h1{
    margin: 0;
    letter-spacing: 0.4vw;
    font-size: 8vh; 
}
.cella {
    height: 10vh;
    width: 10vh;
    text-align: center;
    font-size: 5vh;
    border-radius: 10%;
    border: 0;
    margin: 0.5%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

body{
    background-color: rgb(243, 245, 244);
    text-align: center;    
}

.classeGialla {
    background-color: rgb(243, 243, 146);
}

.classeVerde {
    background-color: rgb(144, 218, 144);
}